<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<welcome-file-list>
		<welcome-file>inicio.html</welcome-file>
	</welcome-file-list>

  <servlet>
		<servlet-name>NovedadesInicio</servlet-name>
		<servlet-class>p2.NovedadesInicio</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NovedadesInicio</servlet-name>
		<url-pattern>/inicio.html</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CambioContrasena</servlet-name>
		<servlet-class>p2.CambioContrasena</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CambioContrasena</servlet-name>
		<url-pattern>/usuarioContrasena.html</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CambioCorreo</servlet-name>
		<servlet-class>p2.CambioCorreo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CambioCorreo</servlet-name>
		<url-pattern>/usuarioCorreo.html</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CambioDireccion</servlet-name>
		<servlet-class>p2.CambioDireccion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CambioDireccion</servlet-name>
		<url-pattern>/usuarioDireccion.html</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CambioNombre</servlet-name>
		<servlet-class>p2.CambioNombre</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CambioNombre</servlet-name>
		<url-pattern>/usuarioNombre.html</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CambioTlf</servlet-name>
		<servlet-class>p2.CambioTlf</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CambioTlf</servlet-name>
		<url-pattern>/usuarioTlf.html</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ListadoProductos</servlet-name>
		<servlet-class>p2.ListadoProductos</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListadoProductos</servlet-name>
		<url-pattern>/productos.html</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>p2.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login.html</url-pattern>
	</servlet-mapping>

		<servlet>
		<servlet-name>ObtenerProductos</servlet-name>
		<servlet-class>p2.ObtenerProductos</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ObtenerProductos</servlet-name>
		<url-pattern>/obtenerproductos.html</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MisPedidos</servlet-name>
		<servlet-class>p2.MisPedidos</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MisPedidos</servlet-name>
		<url-pattern>/detallesPedido.html</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ProductoCat</servlet-name>
		<servlet-class>p2.ProductoCat</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductoCat</servlet-name>
		<url-pattern>/productoCat.html</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RecogerCarrito</servlet-name>
		<servlet-class>p2.RecogerCarrito</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RecogerCarrito</servlet-name>
		<url-pattern>/carrito.html</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Registro</servlet-name>
		<servlet-class>p2.Registro</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Registro</servlet-name>
		<url-pattern>/registro.html</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Usuario</servlet-name>
		<servlet-class>p2.Usuario</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Usuario</servlet-name>
		<url-pattern>/usuario.html</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CancelarPedido</servlet-name>
		<servlet-class>p2.CancelarPedido</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CancelarPedido</servlet-name>
		<url-pattern>/CancelarPedido.html</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EliminarPedido</servlet-name>
		<servlet-class>p2.EliminarPedido</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EliminarPedido</servlet-name>
		<url-pattern>/EliminarPedido.html</url-pattern>
	</servlet-mapping>
</web-app>